.inputItemTitle {
  width: 30%;
  color: #355990;
}
.selectInputWrapper {
  display: flex;
  width: 20%;

}
.selectInput {
  flex: 1;
  height: 38px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  color: #969696;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0 5px 0 5px;
  background-color: #eeeeee;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  font-size: 11px;
  color: rgba(162, 162, 162, 0.91) !important;

}

.selectInput .css-bg1rzq-control{
  border-style: dotted !important;
}