.ad{
  width: 90%;
  padding: 1px 1px 1px 1px;
  margin: 0 auto 20px auto;
  //margin-bottom: 20px;
  background-color: white;
  text-align: left;
  border-radius: 5px 5px 5px 5px;
}
.button {
  color: #FFFFFF;
  background-color: #FFAD00;
  border: hidden;
  border-radius: 20px;
  font-size: 10px;
  padding: 9px;
  font-weight: 500;
  vertical-align: middle;
  letter-spacing: 1.5px;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.1);
}
.detailsButton {
  @extend .button;
  //width: 95%;
  margin: 5% auto;
  //text-align: center;
  //align-items: flex-start;
  //display: block;
}
.showSourceButton {
  @extend .button;
  margin-left: auto;
}

.modalHeader {
  display: flex;
}
.description {
  width: 60%;
  font-size: 12px;
  white-space: pre-line;
}

.button:hover {
  @extend .button;
  background-color: #ed9c00;
}

.imageCol{
  padding: 0 0 0 0;
}

.adImage{
  border-radius: 3px 0 0 5px;
  height: auto;
}

.infoCol{
  padding: 10px 5px 5px 10px;
}

.adTitle{
  font-weight: bold;
}

ul {
  margin: 0;
  padding-left: 15px;
  font-size: 10px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

p{
  margin-bottom: 2px;
  font-size: 10px;

}

hr{
  margin-top: 2px;
  margin-bottom: 5px;
}

h6{
  margin-bottom: 2px;
}
